:root {
    --step--2: clamp(0.7813rem, 0.6634rem + 0.5891vw, 1.12rem);
    --step--1: clamp(0.9375rem, 0.7766rem + 0.8043vw, 1.4rem);
    --step-0: clamp(1.125rem, 0.9076rem + 1.087vw, 1.75rem);
    --step-1: clamp(1.35rem, 1.0587rem + 1.4565vw, 2.1875rem);
    --step-2: clamp(1.62rem, 1.2324rem + 1.938vw, 2.7344rem);
    --step-3: clamp(1.9438rem, 1.4309rem + 2.5641vw, 3.4181rem);
    --step-4: clamp(2.3325rem, 1.6577rem + 3.3739vw, 4.2725rem);
    --step-5: clamp(2.7994rem, 1.9155rem + 4.4196vw, 5.3406rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
}

html,
body {
    height: 100%;
    background: #181818;
    color: white;
    font-family: "Helvetica";
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: var(--step-0);
    scroll-snap-stop: always;
    scroll-snap-type: y mandatory;
}

.navbar-custom.navbar {
    position: fixed;
    top: 12px;
    width: 90%;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #303030;
    border-radius: 15px;
    padding: .6rem 2rem;
    z-index: 25;
}

.navbar-brand {
    height: 2.4rem;
}

.nav-item>a,
.navbar-toggler>span {
    color: white;
}

#page1,
#page2,
#page3,
#page4,
#page5,
#page6 {
    scroll-snap-align: center;
}

#page1 {
    position: relative;
    width: 100%;
    height: 100%;
}

#page1-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#page1-content-text {
    font-size: var(--step-1);
    text-align: center;
}

#page1-content-title {
    font-size: var(--step-3);
    font-weight: bold;
}

#page1-content>.back-material-button {
    font-size: var(--step--2);
    font-weight: bold;
    background-color: #ffcf53;
    color: black;
    padding-left: 2em;
    padding-right: 2em;
}

#page2 {
    position: relative;
    width: 100%;
    height: 100%;
}

#page2 img:nth-child(1) {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

#page2 img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 80%;
}

#page2>p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 95%;
}

#page2>p>i>span {
    color: #ffcf53;
    font-family: 'Imperial Script';
    font-size: var(--step-3);
}

#page3 {
    position: relative;
    background-color: #1e1e1e;
    width: 133.3%;
    height: 100%;
    margin-left: -33.3%;
    margin-right: 0;
    display: grid;
    grid-template-columns: auto auto auto 25%;
}

#page3-image {
    position: relative;
    grid-column: 1 / span 3;
}

#page3-background {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

#page3-foreground {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    position: absolute;
    width: auto;
    max-height: 92vh;
}

#page3-content {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
}

.content-box {
    background-color: black;
    color: white;
    z-index: 5;
    word-wrap: break-word;
    width: 25.9vw;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
}

.content-box>img {
    padding-bottom: 15px;
    width: 50%;
    height: auto;
}

.content-box>svg {
    padding-bottom: 15px;
    height: auto;
}

img[alt="PhysX"] {
    padding-bottom: 0;
}

#page4 {
    position: relative;
    background-color: #1e1e1e;
    width: 133.3%;
    height: 100%;
    margin-left: 0;
    margin-right: -33.3%;
    display: grid;
    grid-template-columns: 25% auto auto auto;
}

#page4-image {
    position: relative;
    grid-column: 2 4;
}

#page4-background {
    object-fit: cover;
    width: auto;
    height: 100vh;
}

#page4-foreground {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    position: absolute;
    width: auto;
    max-height: 92vh;
}

#page4-content {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
}

#page5 {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page5-video {
    position: relative;
    width: 90vw;
    top: 3%;
    height: auto;
    border-radius: 15px;
}

#page6 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#pricing-title {
    position: absolute;
    top: 15%;
    font-size: 50px;
}

.price-container {
    width: 30%;
    height: 50%;
    text-align: center;
}

.price-container>h1 {
    padding-bottom: 20px;
}

.price-item {
    background-color: #303030;
    width: 100%;
    height: 100%;
    padding: 1.4rem;
    list-style-type: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.price-item>div {
    text-align: left;
}

.price-item>a {
    width: 90%;
    height: 2.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcf53;
    text-decoration: none;
    color: black;
}

/* Add shadows on hover */
.price-item:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

/* Pricing header */
.price-item .header {
    background-color: #333333;
    color: white;
    font-size: 25px;
}

/* List items */
.price-item li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price-item>a>div {
    font-weight: bold;
}

/* Login */
.flex-justify-center {
    display: flex;
    justify-content: center;
}

.material-input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    color: white;
    background-color: #303030;
    /* box-shadow: 6px 6px 12px #303030, */
    /* -6px -6px 12px #000000; */
    font-size: medium;
    font-weight: bold;
    width: min(80vw, 18rem);
}

.material-input:focus {
    outline-color: white;
}

.material-button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #303030;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.material-button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-4px);
}

.material-button:active {
    transform: translateY(-1px);
}

.back-material-button {
    text-decoration: none;
    color: white;
    padding: 1.3em 1.5em;
    display: flex;
    height: 3em;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 45px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #303030;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.back-material-button>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.back-material-button:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back-material-button:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#overview-page1,
#overview-page2,
#overview-page3 {
    scroll-snap-align: center;
}

#overview-page1,
#overview-page3 {
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    height: 100%;
    width: 100%;
}

#overview-page1-left,
#overview-page3-left {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23c483;
}

#overview-page1-image {
    height: 90vh;
    width: auto;
    transform: translateY(3%);
}

#overview-page1-content {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#overview-page1-content-left,
#overview-page1-content-right {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.overview-point {
    width: 90%;
    height: 1.8rem;
    background-color: #ffcf53;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#overview-page2 {
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    width: 100%;
    height: 100%;
}

#overview-page2-right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #de93ff;
}

#overview-page2-image {
    height: 90vh;
    width: auto;
    transform: translateY(3%);
}

#overview-page2-content,
#overview-page3-content {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#overview-page2-content>.overview-point {
    width: 60%;
}

#overview-page3 {
    grid-template-columns: 60% 40%;
}

#overview-page3-image {
    width: 90%;
    height: auto;
}

#overview-page3-left {
    background-color: rgb(247, 154, 41);
}

#overview-page3-content>.overview-point {
    width: 70%;
}